DEBUG =

DATABASES_NAME =
DATABASES_USER =
DATABASES_PASSWORD =
DATABASES_HOST =
DATABASES_PORT =

EMAIL_HOST =
EMAIL_PORT =
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =
EMAIL_USE_TLS =
EMAIL_USE_SSL =

LOCATION =
